.navbar-brand {
    height: 70px;
    line-height: 15px;
}
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

#toggle_btn_group .btn.active {
    background-color: #eee;
    color: #444;
}